.answer-input-container {
	display: grid;
	grid-template-areas:
		"input select"
		"button button";
	gap: 0.5rem;
	margin-bottom: 1rem;
}

.answer-input-container button {
	grid-area: button;
}

.answer-input-container input {
	grid-area: input;
}

.answer-input-container select {
	grid-area: select;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding-right: 2.5rem;
	background: url('data:image/svg+xml;utf8,<svg fill="%23FAF9F6" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>')
		no-repeat right 1rem center/1.2em auto;
}

.answer-input-container input,
.answer-input-container button,
.answer-input-container select {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}

.answer-input-container input:hover,
.answer-input-container button:hover,
.answer-input-container select:hover {
	box-shadow: 0 0 3px 0.5px #646cff;
}

@media (prefers-color-scheme: light) {
	.answer-input-container input,
	.answer-input-container button,
	.answer-input-container select {
		background-color: #ffffff00;
		border-width: 1px;
		border-color: #242424;
	}

	.answer-input-container select {
		background: url('data:image/svg+xml;utf8,<svg fill="%23242424" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>')
			no-repeat right 1rem center/1.2em auto;
	}
}

@media screen and (max-width: 600px) {
	.answer-input-container {
		grid-template-areas:
			"input"
			"select"
			"button";
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
	}
}
