.answer-input-container {
	display: grid;
	grid-template-areas:
		"input button";
	gap: 0.5rem;
	margin-bottom: 1rem;
	position: relative;
}

.answer-input-container button {
	grid-area: button;
}

.answer-input-container input {
	grid-area: input;
}

.answer-input-container input,
.answer-input-container button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}

.answer-input-container input:hover,
.answer-input-container button:hover {
	box-shadow: 0 0 3px 0.5px #646cff;
}

.suggestions-list {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background: #222;
	z-index: 10;
	border-radius: 8px;
	box-shadow: 0 2px 8px #0002;
	max-height: 180px;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: #1a1a1a #22222200;
}

.suggestions-list::-webkit-scrollbar {
	width: 6px;
	background: #22222200;
}
.suggestions-list::-webkit-scrollbar-thumb {
	background: #1a1a1a;
	border-radius: 4px;
}
.suggestions-list::-webkit-scrollbar-button {
	display: none;
	height: 0;
}
.suggestions-list::-webkit-scrollbar-corner {
	background: transparent;
}

.suggestion {
	padding: 0.5em 1em;
	cursor: pointer;
}

.suggestion:hover {
	background: #333;
}

@media (prefers-color-scheme: light) {
	.answer-input-container input,
	.answer-input-container button {
		background-color: #ffffff00;
		border-width: 1px;
		border-color: #242424;
	}
}

@media screen and (max-width: 600px) {
	.answer-input-container {
		grid-template-areas:
			"input"
			"button";
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
	}
}
